<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bookstore</title>
  </head>
  <body>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <td>Title</td>
          <td>Author</td>
          <td>Category</td>
          <td>Publisher</td>
          <td>Price</td>
        </tr>
      </thead>
      <tbody>
        <% result.forEach((item)=>{ %>
        <tr>
          <td><%= item.book_name %></td>
          <td><%= item.aut_name %></td>
          <td><%= item.cate_descrip %></td>
          <td><%= item.pub_name %></td>
          <td><%= item.book_price %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
